body {
  overflow: hidden;
}

#root {
  padding-top: 4rem;   
  padding-bottom: 100%;
  background-color: #d8d8d8;
}


.form {
  margin: 0 auto;
  width: 23rem;
  height: 35rem;
  background-color: rgb(224, 224, 224);
  border-radius: 2rem;
  box-shadow: 13px 13px 20px #616161, -13px -13px 20px #f5f5f5;
}

.inputs {
  padding: 2rem 2rem 1rem 2rem;
  margin: 0 auto;
}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.icon {
  padding: 15px;
  background: rgba(128, 128, 128, 0.589);
  color: rgb(0, 0, 0);
  min-width: 50px;
  text-align: center;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  box-shadow: 6px 8px 8px #5f5f5f;
}

.input-field {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 10px 10px 15px;
  background-color: rgba(196, 196, 196, 0.521);
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  box-shadow: 3px 8px 8px #5f5f5f;
}

.btn-log {
  background-color: rgb(34, 102, 204);
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 40%;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.9;
  margin-left: 4rem;
}

.btn-log:hover {
  opacity: 1;
}

.login-bottom {
  margin-top: 0.px;
  margin-bottom: 0.1px;
}

.forgot-pass:hover, .register:hover {
  text-decoration: none;
  /* width: 100%;  */
}

.block {
  width: 23rem;
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: 1fr;
}

hr {
  margin: auto 20px;
  border: 1.5px solid rgb(150, 150, 150);
}

.or-hr {
  margin: auto 0;
  font-size: 22px;
  color: rgb(175, 175, 175);
}

.btn {
  margin: 0rem 0.5rem 0rem 0.5rem;
  width: 40%;
}

h2 {
  padding-top: 2rem;
}